# Node modules
node_modules/

# Build output
dist/
!.well-known/

# Static files
public/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
*.log

# Local environment files
.env
.env.*.local

# Vite cache
.vite/

# Dependency directories
/.pnp
.pnp.js

# IDE specific
.vscode/
.idea/
.DS_Store

# macOS
*.DS_Store

# misc
*.local
